<template>
  <div class="articles">
   <template v-if="articles.length">
     <div class="article" v-for="article in articles" :key="article.id">
       <a class="link" :href="article.webUrl" target="_blank">{{ article.webTitle }}</a>
       <button
           class="favorite-btn"
           @click="handleFavorite(article, !isFavorite(article.id))"
       >
         {{ !isFavorite(article.id) ? 'Add' : 'Remove' }} to favorite
       </button>
       <span class="date">{{article.webPublicationDate | dateFormat}}</span>
     </div>
   </template>
    <div class="no-found" v-else>
      <span>No found</span>
    </div>
  </div>
</template>

<script>

export default {
  props: ['articles', 'favorites'],
  methods: {
    handleFavorite(article, shouldAdd) {
      const eventName = shouldAdd ? 'addToFavorite' : 'removeFromFavorite'
      this.$emit(eventName, article)

    },
    isFavorite(id) {
      return this.favorites.length && this.favorites.some(f=> f.id === id)
    }
  },
}
</script>

<style scoped>

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link:active,
.link:link,
.link:visited {
  color: #646464;
}

.link:hover {
  color: #1a1a1a;
}

.link {
  text-decoration: none;
}

.article {
  padding: 10px;
  width: 310px;
  height: 150px;
  margin: 10px;
  box-shadow: 0 0 5px #ccc;
  position: relative;
  background: #f7f7f7;
}

.favorite-btn,
.date {
  position: absolute;
  bottom: 10px;
  font-size: 14px;
}

.favorite-btn {
  right: 10px;
  border: none;
  background: #e6ea63;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px #d2d2d2;
  cursor: pointer;
}

.date {
  left: 10px;
}

.no-found {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

</style>
