<template>
  <div class="main">
    <Paginator
        :totalPages="totalArticles"
        @next="handlePaginatorEvent"
        @prev="handlePaginatorEvent"
        :startIndex="getPageIndex"
    />
    <Articles
        :articles="getDataByRoute"
        :favorites="favorites"
        @addToFavorite="addToFavorite"
        @removeFromFavorite="removeFromFavorite"
    />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import pathNameSlice from "@/filters/pathNameSlice";
import links from "@/routes/links";
import Articles from "@/components/Articles";
import Paginator from "@/components/Paginator";

export default {
  components: { Paginator, Articles },
  created() {
    this.fetchFavorites();
    if(!this.isFavorite(this.$route)) {
      this.fetchArticles({route: pathNameSlice(this.$route.path), page: this.page})
    }
  },
  data() {
    return {
      page: 1
    }
  },
  watch: {
    $route(to) {
      this.loadArticles(to)
    }
  },
  methods: {
    ...mapActions(['fetchArticles', 'fetchFavorites', 'addToFavorite', 'removeFromFavorite']),
    loadArticles(route) {
      if(!this.isFavorite(route)) {
        this.fetchArticles({route: pathNameSlice(route.path), page: this.page})
      } else {
        this.fetchFavorites()
      }
    },
    handlePaginatorEvent(page) {
      this.page = page
      this.$router.push({ params: { page: ''+this.page } })
    },
    isFavorite(route) {
      return route.path.startsWith(links.favorites)
    }
  },
  computed: {
    ...mapGetters(['articles', 'favorites' , 'totalArticles']),
    getDataByRoute() {
      if(!this.isFavorite(this.$route)) {
        return this.articles
      }
      return this.favorites
    },
    getPageIndex() {
      return this.page;
    }

  }
}
</script>

<style scoped>

</style>
