<template>
  <div class="menu">
    <router-link
        class="link"
        v-for="(link, idx) in links"
        :key="idx"
        :to="link">
      {{ link | pathNameSlice }}
    </router-link>
  </div>
</template>

<script>
import links from "@/routes/links";

export default {
  data() {
    return {
      links
    }
  },
}
</script>

<style scoped>
  .router-link-active {
    background: rebeccapurple;
  }

  .menu {
    display: flex;
    justify-content: center;
  }

  .link {
    text-decoration: none;
    padding: 5px;
    background: #00cfff;
    margin: 0 1px;
    color: white;
    display: inline-block;
  }
</style>
