<template>
  <div class="paginator">
    <button @click="handlePrevClick">Prev</button>
    <span>{{ getPage }} / {{ totalPages }}</span>
    <button @click="handleNextClick">Next</button>
  </div>
</template>

<script>

export default {
  props: ['totalPages', 'startIndex'],
  data() {
    return {
      page: 1,
    }
  },
  computed: {
    getPage() {
      return this.page ?? 1;
    },
  },
  methods: {
    handleNextClick() {
      if(this.page >= this.totalPages) {
        return;
      }
      this.page += 1;
      this.$emit('next', this.page)
    },
    handlePrevClick() {
      if(this.page <= 1) {
        return;
      }
      this.page -= 1;
      this.$emit('prev', this.page)
    }
  }
}
</script>
