<template>
  <div id="app">
    <Menu/>
    <router-view></router-view>
  </div>
</template>

<script>

import Menu from "@/components/Menu";
export default {
  name: 'App',
  components: {Menu},
}
</script>

<style>
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #e8e8e8;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
